In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://syr79643:BCexFBgnRsQvCCVF@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/BLUDB?security=SSL

In [3]:
%sql ibm_db_sa://

In [4]:
%sql select Unique(LAUNCH_SITE) from SPACEXTBL;

 * ibm_db_sa://syr79643:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [9]:
%sql select max(Date) from SPACEXTBL;

 * ibm_db_sa://syr79643:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/BLUDB
Done.

[(datetime.date(2020, 11, 25),)]

In [12]:
%sql select DATE FROM SPACEXTBL WHERE DATE=MAX(DATE)

 * ibm_db_sa://syr79643:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0120N  Invalid use of an aggregate function or OLAP function.  SQLSTATE=42903\r SQLCODE=-120
[SQL: select DATE FROM SPACEXTBL WHERE DATE=MAX(DATE)]
(Background on this error at: http://sqlalche.me/e/f405)

In [14]:
%sql select max(payload_mass__kg_) from SPACEXTBL

 * ibm_db_sa://syr79643:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/BLUDB
Done.

[(15600,)]

In [15]:
%sql select avg(PAYLOAD_MASS__KG_) as Average_Payload_Mass from SPACEXTBL

 * ibm_db_sa://syr79643:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/BLUDB
Done.

[(6437,)]

In [16]:
%sql SELECT * FROM SPACEXTBL where DAYNAME(DATE)='Thursday' LIMIT 10

 * ibm_db_sa://syr79643:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/BLUDB
Done.

[(datetime.date(2017, 3, 16), '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt'),
 (datetime.date(2017, 3, 30), '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 (datetime.date(2017, 8, 24), '18:51:00', 'F9 FT B1038.1', 'VAFB SLC-4E', 'Formosat-5', 475, 'SSO', 'NSPO', 'Success', 'Success (drone ship)'),
 (datetime.date(2018, 2, 22), '14:17:00', 'F9 FT  B1038.2', 'VAFB SLC-4E', 'Paz  Tintin A & B', 2150, 'SSO', 'Hisdesat exactEarth SpaceX', 'Success', 'No attempt'),
 (datetime.date(2018, 11, 15), '20:46:00', 'F9 B5 B1047.2', 'KSC LC-39A', 'Es hail 2', 5300, 'GTO', 'Es hailSat', 'Success', 'Success'),
 (datetime.date(2019, 7, 25), '22:01:00', 'F9 B5 B1056.2', 'CCAFS SLC-40', 'SpaceX CRS-18, AMOS-17 ', 2268, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success')]